.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: stretch;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
