.wrapper {
  padding: 25px;
  border-radius: 20px;
  background-color: transparent;
  width: 350px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.wrapper a {
  z-index: 1;
}

.infoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 24px;
  z-index: 1;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  margin-top: 20px;
  z-index: 1;
}

.id {
  position: absolute;
  font-size: 200px;
  color: #ececec40;
  font-weight: 900;
  z-index: 0;
  top: 80px;
}

.blueId {
  color: rgb(105 142 250 / 39%)

}

.link {
  align-items: start;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  cursor: pointer;
}

.link a {
  width: 100%;
}

.button {
  width: 100%;
}
