.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.videoLoader {
  width: 500px;
  height: 250px;
  background-color: #000000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingIcon {
  width: 70px;
}

.button {
  width: fit-content;
  margin-top: 10px;
  cursor: pointer;
}