html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--ff--inter-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
